/* font-family: 'Indie Flower', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Black And White Picture', sans-serif; */

body{
	font-family: 'Indie Flower', cursive;
}
h1{
	font-family: 'Black And White Picture', sans-serif;
}