/***
    font-family: 'Open Sans', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Anton', sans-serif;
*/

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Indie Flower', cursive;
}
